
{% extends 'base.html.twig' %}

 

 {% block content %}
                                            <li class="breadcrumb-item">
                                                <a href="http://localhost:8000/acceuil"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="http://localhost:8000/list_seance">Seance</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="">Ajouter un Seance</a>
                                            </li>

                                            {% endblock %}

{% block page_contents %}
   
    
           
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">

              

 <div class="card-block">
 <div class="form-group form-default">
 {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

{{ form_start(form, {label_attr: {class: 'form-material'} }) }}

<div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Date</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.date)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Piscine</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.piscine)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">groupe</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.groupe)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Heure debut</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.heure_debut)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Heure fin</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.heure_fin)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Enseignant</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.enseignant)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Intitulé d'Objectif</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.objectif)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Autres info Objectif</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.autre_info)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Observation</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.observation)}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Code de Sequence</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.code_sequence)}}
                                                                </div>
                                                            </div>
                                                             <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Oblectif Suivant</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.objectif_suivant)}}
                                                                </div>
                                                            </div>
                                                             <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label">Type de Sequence</label>
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.type)}}
                                                                </div>
                                                            </div>
                                                             <div class="form-group row"style='margin-left:10px'>
                                                                
                                                                <div class="col-sm-8">
                                                                 {{form_widget(form.etat)}}
                                                                </div>
                                                            </div>

  {{ form_end(form) }}

 </div>   </div>
                     </div>
                                                </div>
                                                </div></div>

                                                {% endblock %}                                  
                               
