

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
       
        {% block stylesheets %}
           <link rel="icon" href="{{asset('images/favicon.ico" type="image/x-icon')}} ">
    <!-- Google font-->     
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap/css/bootstrap.min.css')}} ">
    <!-- waves.css -->
    <link rel="stylesheet" href="{{asset('pages/waves/css/waves.min.css')}} " type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{{asset('icon/themify-icons/themify-icons.css')}} ">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{{asset('icon/icofont/css/icofont.css')}} ">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{asset('icon/font-awesome/css/font-awesome.min.css')}} ">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{asset('css/jquery.mCustomScrollbar.css')}} ">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



 <style type="text/css">
 .btn span {
    float: left;
    margin-top: 2px;
}
        .btn {
    color: #fff;
    float: left;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
 .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
        
        table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}   
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}   
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.eye {
    color: blue;
}
table.table td a.delete {
    color: #F44336;
}
table.table td i {
    font-size: 19px;
}
    </style>

        {% endblock %}

        {% block javascripts %}
        <script type="text/javascript">
          var c=document.getElementById('myCanvas');
var ctx=c.getContext('2d');
ctx.font='30px Arial';
ctx.fillText('Hello World',20,50);
        </script>

        <script>

 function  myFunction1(a,limit)
 {


    nb=document.querySelectorAll('input[type="checkbox"]:checked').length;
    
    if(nb>limit)
    {
    document.getElementById(a).checked = false;
    alert('le nombre')
    } 
    

 }
 </script>

         <script>
function payer(sel)
{
  if (document.getElementById('s').value=='inscription') {
    document.getElementById("debut").hidden = false;
    document.getElementById("fin").hidden = false;
      document.getElementById("label_fin").hidden = false;
        document.getElementById("label_debut").hidden = false;
 document.getElementById("debut").required =true;
 document.getElementById("fin").required =true;
 if (document.getElementById('s').value=='enfant') {
   document.getElementById('montant').value= 100;
      document.getElementById('montant1').value= 100;

 }else{
   document.getElementById('montant').value= 200;
      document.getElementById('montant1').value=200;
 }
  }else{
    document.getElementById('montant').value= document.getElementById('s').value;
       document.getElementById('id_type').value= sel.options[sel.selectedIndex].text;

      document.getElementById('montant1').value= document.getElementById('s').value;
      document.getElementById("debut").hidden = true;
    document.getElementById("fin").hidden = true;
      document.getElementById("label_fin").hidden = true;
        document.getElementById("label_debut").hidden = true;
 document.getElementById("debut").required =false;
 document.getElementById("fin").required =false;
  }
 
}
function paiement3(){
  var date1=document.getElementById('debut').valueAsDate ;
var date2=document.getElementById('fin').valueAsDate ;
     var date= monthDiff(date1,date2);
      if (date<=0) {
            alert('la date invalide')
            document.getElementById('debut').value=' ';
            document.getElementById('fin').value=' ';


        }else{
          if (document.getElementById('age').value=='adulte') {  document.getElementById('montant').value =date*200
             document.getElementById('montant1').value =date*200}else{
                document.getElementById('montant').value =date*100
             document.getElementById('montant1').value =date*100
             }
        
        }

}



            function readURL(input,id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#'+id)
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);

            };

            reader.readAsDataURL(input.files[0]);
        }
    }
function myFunction(path,id,id1=' ') {

console.log(id);

if (id==' ') {
    location.assign('http://localhost:8000/'+ path );

}
if (id==' ') {
   location.assign('http://localhost:8000/'+ path +'/'+ id);

}
  location.assign('http://localhost:8000/'+ path +'/'+ id+'/'+id1);
}

</script>

<script type="text/javascript">
function submit(){


    document.getElementById("myForm").submit();
}



function submit1(){


    document.getElementById("form").submit();
}



    function monthDiff(d1, d2) { var months; months = (d2.getFullYear() - d1.getFullYear()) * 12; months -= d1.getMonth() + 1; months += d2.getMonth(); 
       


            return months +1 ;}

         

function date()
{  var date1=document.getElementById('date1').valueAsDate ;
var date2=document.getElementById('date2').valueAsDate ;
     var date= monthDiff(date1,date2);
     var checkBox = document.getElementById("myCheck");
     var montant1=  document.getElementById('montant').value;
     var montant= parseFloat(montant1);
     if (date<0) {
            alert('la date invalide')
            document.getElementById('date1').value=' ';
            document.getElementById('date2').value=' ';


        }else{

            if ( document.getElementById('age').value =='enfant'){
                montant=100;

            }

             else
            {

 montant=200;
            }

            if ( document.getElementById('s').value =='') {
               montant=0;  
            }

  
        if (checkBox.checked == false){

            document.getElementById('montant').value =date*montant
             document.getElementById('montant1').value =date*montant
        }
         else{
             document.getElementById('montant').value =date*(montant-100)+100;
              document.getElementById('montant1').value =date*(montant-100)+100;
         }
        
     

    


          }
}
function badege(){
     var checkBox = document.getElementById("myCheck");
      var date1=document.getElementById('date1').valueAsDate ;
var date2=document.getElementById('date2').valueAsDate ;
  // Get the output text
var montant=document.getElementById('montant').value

  // If the checkbox is checked, display the output text
  var montant1=  document.getElementById('montant').value;
  var montant= parseFloat(montant1);


if (checkBox.checked == true) {
 
         document.getElementById('montant').value= montant+100
          document.getElementById('montant1').value= montant+200

      
         
  
  
}
 else  {
     
         document.getElementById('montant').value= montant-100;
          document.getElementById('montant1').value= montant+200;

      
}
}

    
    function paiement(b)

    {    
if (document.getElementById('s').value=='') {
     document.getElementById('montant').value=0;
      document.getElementById('montant1').value=0;
     var montant= parseFloat(montant1);

}
else{


       var checkBox = document.getElementById("myCheck");

         var a = document.getElementById('s').value;
        var x = document.getElementById("s").selectedIndex;
         var j =0;
       for (i = 0; i < b.length; i++) {
        j++;
           var s=b[i]['id'];
        if (s==a) {
            var c=b[i]['nomfrancais'];
    
       var age=b[i]['age'];
       var niveau=b[i]['niveau']; 
        var groupe=b[i]['groupe'];
       var date=b[i]['dateinscription'];
       break;

        }  }
        alert(a+''+c+''+age)
          var montant1=  document.getElementById('montant').value;
  var montant= parseFloat(montant1);
       var montant=document.getElementById('montant').value
       if (age =='enfant') {
        document.getElementById('montant').value= montant+100;
         document.getElementById('montant1').value= montant+200;
        
        }

     else{
        document.getElementById('montant').value= montant+200;
         document.getElementById('montant1').value= montant+200
        
       }
     
      
       
        document.getElementById('id').value = a
document.getElementById('age').value = age;
document.getElementById('niveau').value = niveau;
document.getElementById('groupe').value = groupe;

document.getElementById('code').value = s + '-' +c +'-' + date+' -'+age;
 var tempDate = new Date(date);
document.getElementById('dateinscription').valueAsDate = tempDate;
var sel = document.getElementById('s');
       
       
}

}
function paiement1()
{

    if (document.getElementById('s').value=='') {
     document.getElementById('montant').value=0;
      document.getElementById('montant1').value=0;
     var montant= 0;

}else{

    var date1=document.getElementById('date1').valueAsDate ;
var date2=document.getElementById('date2').valueAsDate ;
     var date= monthDiff(date1,date2);
     var checkBox = document.getElementById("myCheck");
     var montant1=  document.getElementById('montant').value;
     var montant= parseFloat(montant1);
     if (date<0) {
            alert('la date invalide')
            document.getElementById('date1').value=' ';
            document.getElementById('date2').value=' ';


        }
        else{

            if ( document.getElementById('age').value =='enfant'){
                montant=100;

            }

             else
            {

 montant=200;
            }

          

  
        if (checkBox.checked == false){

            document.getElementById('montant').value =date*montant
             document.getElementById('montant1').value =date*montant
        }
         else{
             document.getElementById('montant').value =date*(montant)+100;
              document.getElementById('montant1').value =date*(montant)+100;
         }
        
     

    


          }


}
}



     
    
</script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
            <script type="text/javascript" src="{{asset('js/jquery/jquery.min.js')}} "></script>     <script type="text/javascript" src="{{asset('js/jquery-ui/jquery-ui.min.js ')}} "></script>     <script type="text/javascript" src="{{asset('js/popper.js/popper.min.js')}} "></script>     <script type="text/javascript" src="{{asset('js/bootstrap/js/bootstrap.min.js ')}} "></script>
<!-- waves js -->
<script src="{{asset('pages/waves/js/waves.min.js')}} "></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="{{asset('js/jquery-slimscroll/jquery.slimscroll.js ')}} "></script>
<!-- modernizr js -->
    <script type="text/javascript" src="{{asset('js/SmoothScroll.js')}} "></script>     <script src="{{asset('js/jquery.mCustomScrollbar.concat.min.js ')}} "></script>
<script src="{{asset('js/pcoded.min.js')}} "></script>
<script src="{{asset('js/jquery.mCustomScrollbar.concat.min.js')}} "></script>
<script src="{{asset('js/vertical-layout.min.js ')}} "></script>
<!-- Custom js -->
<script type="text/javascript" src="{{asset('js/script.js')}} "></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}

             <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <div class="mobile-search waves-effect waves-light">
                            <div class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a >
                        
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
            
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                            </li>
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                      
                    </div>
                </div>
            </nav>
    
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                   
                                    <div class="user-details">
                                      
                                    </div>
                                </div>
                        
                                <div class="main-menu-content">
                                   
                                </div>
                            </div>
                            <div class="p-15 p-b-0">
                                <form class="form-material">
                                    <div class="form-group form-primary">
                                        <input type="text" name="footer-email" class="form-control" required="">
                                        <span class="form-bar"></span>
                                      
                                    </div>
                                </form>
                            </div>
                            <div class="pcoded-navigation-label" data-i18n="nav.category.navigation"></div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="">
                                    <a href="http://localhost:8000/acceuil" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-user"></i></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Adherent</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="http://localhost:8000/home2" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Gestion d'Adhement</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="http://localhost:8000/paiement1" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Paiment</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="http://localhost:8000/list_seance" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Scéance</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="http://localhost:8000/emploi" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Emploi</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="http://localhost:8000/list_groupe" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Groupe</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                     
                            
                                    </ul>
  </li>
  <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"></span>
                                        <span class="pcoded-mtext"  data-i18n="nav.basic-components.main">Comptabilité</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class=" ">
                                            <a href="http://localhost:8000/list_fournisseur" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Gestion des Fournisseurs</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="http://localhost:8000/list_produit" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Gestion des Produits</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                        <li class=" ">
                                            <a href="http://localhost:8000/list_commande" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Gestion des Commandes</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                         <li class=" ">
                                            <a href="http://localhost:8000/list_revenu" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                                <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Gestion des revenus</span>
                                                <span class="pcoded-mcaret"></span>
                                            </a>
                                        </li>
                                    
                                     
                            
                                    </ul>
  </li>
                                  {% if is_granted('ROLE_ADMIN') %}
                                     <li class="">
                                    <a href="http://localhost:8000/list_user" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="fas fa-user-cog"></i><b>D</b></span>
                                        <span class="pcoded-mtext" data-i18n="nav.dash.main">Admin</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                 {% endif %}
                                 <li class="" style="margin-top: 
                                10px">
                                    <a href="http://localhost:8000/logout" class="waves-effect waves-dark">
                                      
                                           <button class="btn btn-info my-2 my-sm-0" type="submit">Deconnection</button>
                                        
                                    </a>
                                </li>
                              
                               <li class=""></li>
                            </ul>
                            
                            
                    
                         
                            
                    
                            
                          
                        </div>
                    </nav>
                    <div class="pcoded-content" >
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                       
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="breadcrumb-title">

                                            {% block content %}
                                            

                                            {% endblock %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content" >
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body" >
                                        <!-- Basic table card start -->
                                         {% block page_contents %}
                                         {% endblock %}
                                        <!-- Basic table card end -->
                                        <!-- Inverse table card start -->
                                       
                                        <!-- Inverse table card end -->
                                        <!-- Hover table card start -->
                                       
                                        <!-- Hover table card end -->
                                        <!-- Contextual classes table starts -->
                                      
                                        <!-- Contextual classes table ends -->
                                        <!-- Background Utilities table start -->
                                       
                                        <!-- Background Utilities table end -->
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->

                            <div id="styleSelector">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



        {% endblock %}
    </body>
</html>
