{% extends 'base.html.twig' %}

 
  {% block content %}
                                            <li class="breadcrumb-item">
                                                <a href="http://localhost:8000/acceuil"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="http://localhost:8000/home2">Adherent</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="http://localhost:8000/home2">Gestion des Adherent</a>
                                            </li>

                                            {% endblock %}


{% block page_contents %}
    <!-- Pre-loader end -->
  
                            <!-- Main-body start -->
                           
                                    <!-- Page-body start -->
                                  
                                        <!-- Basic table card start -->
                                        
                                        <!-- Basic table card end -->
                                        <!-- Inverse table card start -->
                                       
                                        <!-- Inverse table card end -->
                                        <!-- Hover table card start -->
                                       
                                        <!-- Hover table card end -->
                                        <!-- Contextual classes table starts -->
                                        <div class="card">
                                            <div class="card-header"> 
                                               <a href="{{path('home')}}"  onclick="myFunction('home','')" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter un Adherent</span></a>
                                               
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                                        <li><i class="fa fa-trash close-card"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                        <th>Nom en Francais</th>
                        <th>Nom en Arab</th>
                        <th>Email</th>
                        <th>CNI</th>
                        <th> Numéro de telephone</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                                                        </thead>
                                                        <tbody>
                                                           {% for user in task %}
                                                            <tr style="height:30px;" >
                                                               <td>{{ user.nomfrancais ~ ' ' ~ user.prenomfrancais}}</td>
                        <td>{{ user.nomarab  ~ ' ' ~ user.prenomarab}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.cni}}</td>
                        <td>{{user.telephone}}</td>
                        <td><img src="/uploads/{{user.image}}" class="background--page"  style="width:50px;height:30px;"  ></td>
                        <td>
                             <a href="" onclick="myFunction('profile',{{user.id}})" class="eye" data-toggle="modal"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="{{path('update',{id : user.id}) }}" onclick="myFunction('update',{{user.id}})" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="{{path('delete',{id : user.id}) }}" onclick="myFunction('delete',{{user.id}})" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>

                                                            </tr>

                                                             {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Contextual classes table ends -->
                         
        {% endblock  %}