



{% extends 'base.html.twig' %}
 {% block content %}
                                            <li class="breadcrumb-item">
                                                <a href="http://localhost:8000/acceuil"> <i class="fa fa-home"></i> </a>
                                            </li>
                                           
                                            <li class="breadcrumb-item"><a href="">Gestion Des Opérateur</a>
                                            </li>

                                            {% endblock %}
 



{% block page_contents %}
                                        
                                        <div class="card">
                                            <div class="card-header">
                                               <a href=""  onclick="myFunction('ajouter_user','')" class="btn btn-info" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter un Operateur</span></a>
                                               
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                        <li><i class="fa fa-window-maximize full-card"></i></li>
                                                        <li><i class="fa fa-minus minimize-card"></i></li>
                                                        <li><i class="fa fa-refresh reload-card"></i></li>
                                                        <li><i class="fa fa-trash close-card"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block table-border-style">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                        <th>Nom Prenom</th>
                        
                        <th>Email</th>
                       
                        <th> Numéro de telephone</th>
                        
                        <th>Actions</th>
                    </tr>
                                                        </thead>
                                                        <tbody>
                                                           {% for user in users %}
                                                            <tr style="height:10px;" >
                                                               <td>{{ user.nomprenom}}</td>
                      
                        <td>{{user.email}}</td>
                       
                        <td>{{user.tele}}</td>
                       
                        <td>
                            
                                 {% if user.etat =='blouquer' %}
                                  <a href="" onclick="myFunction('deblouquer',{{user.id}})" class="eye" data-toggle="modal">
                             <i class="fa fa-minus-circle" style="font-size:20px;color:blue"></i>

                                 {% else %}
                                  <a href="" onclick="myFunction('blouquer',{{user.id}})" class="eye" data-toggle="modal">
                                    <i class="fa fa-minus-circle" style="font-size:20px;color:red"></i>

{% endif %}
                             </a>
                            <a href="{{path('update',{id : user.id}) }}" onclick="myFunction('update_user',{{user.id}})" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="{{path('delete_user',{id : user.id}) }}" onclick="myFunction('delete_user',{{user.id}})" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>

                                                            </tr>

                                                             {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>



 



{% endblock  %}
  
