

{% extends 'base.html.twig' %}

 



{% block page_contents %}
   
    
           
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Material Form Inputs</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                      {{ form_start(form, {label_attr: {class: 'form-material'} }) }}
                                                           <div class="form-material">
                                            
                                                            <div class="form-group form-default">
                                                                {{form_widget(form.nom_francais)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Nom Francais</label>
                                                            </div>
                                                               <div class="form-group form-default">
                                                                 {{form_widget(form.prenom_francais)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Prenom Francais</label>
                                                            </div>


                                                             <div class="form-group form-default">
                                                                   {{form_widget(form.nom_arab)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Nom Arabe</label>
                                                            </div>
                                                               <div class="form-group form-default">
                                                                {{form_widget(form.prenom_arab)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Prenom Arabe</label>

                                                            </div>
                                                             <div class="form-group form-default">
                                                                {{form_widget(form.email)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Email (exa@gmail.com)</label>
                                                            </div>

                                                             <div class="form-group form-default">
                                                                {{form_widget(form.adress)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Adress</label>
                                                            </div>
                                                             <div class="form-group form-default">
                                                               {{form_widget(form.mobile)}} 
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Mobile</label>
                                                            </div>
                                                             <div class="form-group form-default">
                                                                {{form_widget(form.telephone)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Telephone</label>
                                                            </div>
                                                               <div class="form-group form-static-label">
                                                                {{form_widget(form.date_naissance)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Date Naissance</label>
                                                            </div>
                                                              
                    
                                                            <div class="form-group form-default">
                                                                {{form_widget(form.ville)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Ville</label>
                                                            </div>
                                                            <div class="form-group form-default">
                                                               {{form_widget(form.ville_actuel)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Ville Actuel</label>
                                                            </div>
                                                             <div class="form-group form-default">
                                                                {{form_widget(form.lieu_naissance_francais)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Lieu De Naissance en Francais</label>
                                                            </div>
                                                         
                                                           
                                                          </div> 
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="col-md-6">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Material Form Inputs</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                              <div class="form-material">

                                                            <div class="form-group form-default">
                                                                {{form_widget(form.lieu_naissance_arab)}}   
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Lieu De Naissance en Arabe</label>
                                                            </div>
                                                               <div class="form-group form-default">
                                                                 {{form_widget(form.cni)}} 
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">CNI</label>
                                                            </div>


                                                             <div class="form-group form-default">
                                                               {{form_widget(form.niveau , {label_attr: {class: 'switch-custom'} })}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Niveau</label>
                                                            </div>
                                                               <div class="form-group form-default">
                                                                {{form_widget(form.niveau_deplome , {label_attr: {class: 'switch-custom'} })}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Niveau De Deplome</label>

                                                            </div>
                                                             <div class="form-group form-default">
                                                               {{form_widget(form.sexe , {label_attr: {class: 'switch-custom'} })}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Sexe</label>
                                                            </div>

                                                             <div class="form-group form-default">
                                                               {{form_widget(form.age , {label_attr: {class: 'switch-custom'} })}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Tranche d'Age</label>
                                                            </div>
                                                             <div class="form-group form-default">
                                                                {{form_widget(form.mot_passe)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Mote De Passe</label>
                                                            </div>

                                                               <div class="form-group form-static-label">
                                                                {{form_widget(form.date_inscription )}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Date Inscription</label>
                                                            </div>
                                                             <div class="form-group form-default">
                                                                 {{form_widget(form.fonction_tuteur)}} 
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Fonction De Tuteur</label>
                                                            </div>
                                                            
                                                              
                    
                                                            <div class="form-group form-default">
                                                               {{form_widget(form.tele_tuteur)}} 
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Telephone De Tuteur</label>
                                                            </div>
                                                            <div class="form-group form-default">
                                                                {{form_widget(form.allergie)}} 
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Allergies</label>
                                                            </div>
                                                             <div class="form-group form-default">
                                                               {{form_widget(form.autre_maladies)}}
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Autres Maladies</label>
                                                            </div>
                                                         
                                                           
                                                                                                          </div>
                                                </div></div>
                                            </div>
                                        </div>
                                       
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Basic Form Inputs card start -->
                                       
                                                     <div class="card">
                                                    <div class="card-header">
                                                        <h5>Material Form Inputs</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">

                                                                   <div>
                                                                        {{ form_end(form) }}
</div>

                                                                            <!-- Basic Form Inputs card end -->
                                                            <!-- Input Grid card start -->
                                                            </div> </div>
                                                            <!-- Input Grid card end -->
                                                            <!-- Input Validation card start -->
                                                           
                                                                        <!-- Input Validation card end -->
                                                                        <!-- Input Alignment card start -->
                                                                       
                                                                        <!-- Input Alignment card end -->
                                                                    </div>
                                                                </div>
                                                        
                                                            <!-- Page body end -->
                                                      

{% endblock  %}




