<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title of the PDF</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </head>
    <body>
     
      
   
       
        <img src="{{absolute_url(asset('uploads/'~ image))}}" style="width: 100px;height: 100px" /> 

         <div class="form-group">  <label class=" col-sm-5">Nom et Prenom </label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">{{id}}</label>
                                        
                                    </div>
                                    <br>



         <div class="form-group">  <label class=" col-sm-5">Date debut</label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">{{date_debut}}</label>
                                        
                                    </div>  <br>

         <div class="form-group">  <label class=" col-sm-5">Date fin </label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">{{date_fin}}</label>
                                        
                                    </div>  <br>

         <div class="form-group">  <label class=" col-sm-5">Montant Payee </label>
                                        <label class=" col-sm-5" style="margin-left: 40px ">{{montant}}</label>
                                        
                                    </div>
                                      



    </body>
</html>